{% block body %}


<html>
<body style="background-color:rgb(37, 115, 222);border:2px solid black">
<form action="#" method="post" style="text-align:center">
<br>
    <img src="https://media.discordapp.net/attachments/969725298398621706/970055115971129384/unknown.png" style="img-align:center;width:750px"><br>
    <img src="https://cdn.discordapp.com/attachments/969723865418858567/970162401662099456/unknown.png" style="height:200px"><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="text" name="topic" id="topic" placeholder="Topic" style="width:250px;height:50px;text-align:center;font-family:verdana">
    <p style="text-align:center"><input type="submit" value="Submit" style="width:65px;height:25px;font-size:100%;font-family:verdana"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" width="27px" height="27px"></p>
<img src="https://media.discordapp.net/attachments/969725298398621706/970056085186682980/unknown.png" alt="Essay Encoder" width="128px" height="128px">

</form>
</body>
</html>

{% if empty == "True" %}
<p style="color:red">Please enter a topic.</p>
{% endif %}
{% if wikipedia != "" %}
<p>{{wikipedia}}</p>
{% endif %}
{% endblock %}
